.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0890DC;
    color: white;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
}