.cardh {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    left: auto;
    margin-top:14%;
    border: #fff;
}

.form-row {
    display: flex;
    justify-content: center;
}
  
.col-auto {
    text-align: center;
}

.btn-search {
    color: #fff;
    background-color: #0890DC;
}

.btn-search:hover {
    background-color: white;
    color: #0890DC !important;
    font-weight: bold;
}